{% load static from staticfiles %}

<!DOCTYPE html>
<html>
<head>
	<title>ACE - Selection 2018</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="ACE">

    <meta property="og:title" content="ACE &middot; The Technical Society of Vivekananda Institute of Professional Studies"/>
    <meta property="og:description" content="ACE - Association of Computer Enthusiasts is the Technical society of Vivekananda Institute of Professional Studies, Pitampura. We are a group of talented and curious technology enthusiasts who are specialised in different fields of technology, namely quizzing, programming, web development, digital imaging, and video editing."/>

    <meta property="og:image" content="http://vipsace.org/img/fg.PNG"/>
    <meta property="og:site_name" content="ACE &middot; The Technical Society of Vivekananda Institute of Professional Studies"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="http://vipsace.org/"/>


    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="ACE &middot; The Technical Society of Vivekananda Institute of Professional Studies">
    <meta name="twitter:description" content="ACE - Association of Computer Enthusiasts is the Technical society of Vivekananda Institute of Professional Studies, Pitampura. We are a group of talented and curious technology enthusiasts who are specialised in different fields of technology, namely quizzing, programming, web development, digital imaging, and video editing.">
    <meta name="twitter:image" content="http://vipsace.org/img/fg.PNG">

    <!--Horizontal Scroll Disable-->


    <!-- Style -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}">
    
    <meta name="description" content="ACE - Association of Computer Enthusiasts is the Technical society of Vivekananda Institute of Professional Studies, Pitampura. We are a group of talented and curious technology enthusiasts who are specialised in different fields of technology, namely quizzing, programming, web development, digital imaging, and video editing.">
    <meta name="keywords" content="ACE, Association of Computer Enthusiasts, Technical society of VIPS, ACE - The Technical society of VIPS, ACE - The Technical Society of VSIT, society, VIPS society, VSIT society, Tech, enterprenuer, bussines, UX/UI, python, php, go, Ashish, Gaurav, Srijit, Sameer, Khushi, Rohan, prateek, anukriti, Mukesh, shreyans, aditya dhawan, ACE Rocks, We love ACE,  Technical society of VSIT, Vivekananda Institute of Professional Studies, Vivekananda school of information technology, hackathon, SSC 2017, hackathon, coding, designing, events, we won, programming, VIPS programmimg, ACE69, ogz, ace vipsi, State Student Convention 2017, SSC, facebook.com/vipsace, vipsace, facebook">
    <meta name="robots" content="index,follow">
    <meta name="theme-color" content="#378f89">
</head>
<body>
	<ul class="nav">
		<li><a><img src="{% static 'img/logo.png' %}"></a></li>
		<li style="float: right"><a href="/portal/logout" class="fb-logout"><i class="fas fa-sign-out-alt fa-2x"></i></a></li>
		<li style="float: right"><a href="#" class="fb-name">{{ user.get_full_name|default:user.username }}</a></li>
		<li style="float: right"><img class="fb-img" src={{fb_image_url}}></li>
	</ul>

	<div class="hero">
		<h1>Hi, {{ first_name }}!</h1>
		<br>
		<h3>Welcome to ACE - Online Selection Portal.</h3><br><br>
		<p>
			General Guidelines:<br><br>
		1. There is no limit to the number of tasks you can attempt.<br>
		2. You are allowed to submit a task only once and subsequent submissions will not be recorded.<br>
		3. Plagiarism and use of unfair means to complete the task are strictly prohibited.<br>
		4. We recommend you to attempt as many tasks as you can however we believe in 	quality over quantity.<br>
		5. Kindly submit the URL of your code/solution before the submission deadline.<br><br>

		<h3>All The Best!</h3>
		</p>
		<br>
		<a href="#tasks"><button>Show Tasks</button></a>
	</div>

	<div class="content">
		<div class="pad" id="tasks">
			<div class="wrap-upper">
				<h1>Active Tasks ({{active_tasks}})</h1>
				<p>Complete the task(s) that meet your required skills.</p>
			</div>
			<br><br>
			
			<div class="wrap-main">
				{% for task in tasks %}
				<div class="wrap" id="{{task.task_id}}">
					<div class="title">
						<h1>{{task.task_name}}</h1>
                            {% if task.task_id in submissions %}
                                <span class="comp">Attempted</span>
                            {% else %}
                                <span class="">Not-Attempted</span>
                            {% endif %}
					</div>
					<div class="detail">
					<div class="detail-main">
						<div style="display: flex;">
							<div class="detail-icon"> <i class="fas fa-calendar-alt fa-2x"></i> </div>
							<div class="detail-right">
								<p>Submission Date</p>
								<h1>{{task.submission_deadline}}</h1>
							</div>
						</div>
					</div>
						
					<div class="detail-main">
						<div style="display: flex;">
							<div class="detail-icon"> <i class="fas fa-users fa-2x"></i> </div>
							<div class="detail-right">
								<p>Total Submissions</p>
								<h1>{{task.total_submissions}}</h1>
							</div>
						</div>
					</div>


					<div class="detail-main">
						<div style="display: flex;">
							<div class="detail-icon"> <i class="fas {{task.difficulty_level}} fa-2x"></i> </div>
							<div class="detail-right">
								<p class="diff">Difficulty Level</p>
								<h1 class="diff">{{task.difficulty_value}}</h1>
							</div>
						</div>
					</div>
					</div>

					<div class="button">
						<button onclick="description('{{task.task_id}}')"><i class="fas fa-list-ul fa-2x"></i></button>
						<button onclick="submit('{{task.task_id}}')" class="rgt"><i class="fas fa-check-square fa-2x"></i></button>
					</div>

					<div style="position: relative;">
						<div class="desc">
							<div class="description">
								<div class="title" style="border:none;">
									<h1>Description</h1>
									{% autoescape off %}
									<p>{{task.task_description}}</p>
									{% endautoescape %}
									<div id="close"><div onclick="closea('{{task.task_id}}')" id="x">X</div></div>
								</div>
							</div>
						</div>
					</div>

					<div style="position: relative;">
						<div class="apply">
							<div class="appy">
								<div class="title" style="border:none;">
									<h1>Submit Task</h1>
									<p style="height: 70px;">Please upload your task files in GitHub or Google Drive and submit its URL. </p>
									<center>
									<form action="/portal/submission/" method= "POST">
										{% csrf_token %}
										<br>
										<input type="url" required name="task" class="url" placeholder="Task URL (GitHub/Drive)"><br><br>
                                        {% if task.task_id in submissions %}
                                            <p style="height: 70px;">
                                                You have already submitted this task. You can submit multiple times. Only the last submission will be considered for evaluation.
                                            </p>
                                        {% endif %}
										<input type="submit" name="submit" value="SUBMIT TASK" class="submit" placeholder="Task URL (GitHub/Drive)">
										<input name="task_id" value={{task.task_id}} type="hidden">
									</form>
									</center>
									<div id="close"><div onclick="closeb('{{task.task_id}}')" id="x">X</div></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
			</div>
		</div>
	</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
</body>
</html>
