{% load staticfiles %}


<!DOCTYPE html>
<html>
<head>
    <title>ACE - Selections 2018</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="ACE">

    <meta property="og:title" content="ACE &middot; The Technical Society of Vivekananda Institute of Professional Studies"/>
    <meta property="og:description" content="ACE - Association of Computer Enthusiasts is the Technical society of Vivekananda Institute of Professional Studies, Pitampura. We are a group of talented and curious technology enthusiasts who are specialised in different fields of technology, namely quizzing, programming, web development, digital imaging, and video editing."/>

    <meta property="og:image" content="http://vipsace.org/img/fg.PNG"/>
    <meta property="og:site_name" content="ACE &middot; The Technical Society of Vivekananda Institute of Professional Studies"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="http://vipsace.org/"/>


    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="ACE &middot; The Technical Society of Vivekananda Institute of Professional Studies">
    <meta name="twitter:description" content="ACE - Association of Computer Enthusiasts is the Technical society of Vivekananda Institute of Professional Studies, Pitampura. We are a group of talented and curious technology enthusiasts who are specialised in different fields of technology, namely quizzing, programming, web development, digital imaging, and video editing.">
    <meta name="twitter:image" content="http://vipsace.org/img/fg.PNG">


    <!-- Style -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/timer.css' %}">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}">
    
    <meta name="description" content="ACE - Association of Computer Enthusiasts is the Technical society of Vivekananda Institute of Professional Studies, Pitampura. We are a group of talented and curious technology enthusiasts who are specialised in different fields of technology, namely quizzing, programming, web development, digital imaging, and video editing.">
    <meta name="keywords" content="ACE, Association of Computer Enthusiasts,  Technical society of VIPS, ACE - The Technical society of VIPS, ACE - The Technical Society of VSIT, society, VIPS society, VSIT society, Tech, enterprenuer, bussines, UX/UI, python, php, go, Ashish, Gaurav, Srijit, Sameer, Khushi, Rohan, prateek, anukriti, Mukesh, shreyans, aditya dhawan, ACE Rocks, We love ACE,  Technical society of VSIT, Vivekananda Institute of Professional Studies, Vivekananda school of information technology, hackathon, SSC 2017, hackathon, coding, designing, events, we won, programming, VIPS programmimg, ACE69, ogz, ace vipsi, State Student Convention 2017, SSC, facebook.com/vipsace, vipsace, facebook">
    <meta name="robots" content="index,follow">
    <meta name="theme-color" content="#378f89">
</head>
<body>
    
    <header>
        <main>
            <div class="cent">
                <p>COMING SOON</p>
                <h1 id="timer"></h1>
                <h2>Check out our <a target="_blank" href="/magazine/">Magazine</a> .</h2>
                <br>
            </div>
        </main>
    </header>
    <footer>
                <a href="https://www.facebook.com/vipsace" target="_blank" class="fa fa-facebook-square fa-lg"></a>
                <a href="https://www.linkedin.com/company-beta/13282617" target="_blank" class="fa fa-lg fa-linkedin"></a>
                <a href="https://github.com/ace-vips" target="_blank" class="fa fa-github fa-lg"></a>
                <a href="mailto:csi-sb-ace@vips.edu" class="fa fa-paper-plane-o fa-lg"></a>
    </footer>
    <script type="text/javascript">
        var countDownDate = new Date("August 16, 2018 00:00:00").getTime();
        
        var x = setInterval(function() {
          var now = new Date().getTime();

          var distance = countDownDate - now;

          var days = Math.floor(distance / (1000 * 60 * 60 * 24));
          var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
          var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
          var seconds = Math.floor((distance % (1000 * 60)) / 1000);

          document.getElementById("timer").innerHTML = days + "D " + hours + "H "
          + minutes + "M " + seconds + "S ";

          if (distance < 0) {
            clearInterval(x);
            document.getElementById("timer").innerHTML = "EXPIRED";
          }
        }, 1000);
    </script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
</body>
</html>
