dj-database-url==0.4.2
Django==2.1.0
gunicorn==19.7.1
whitenoise==3.3.0
psycopg2==?
django-multiselectfield==0.1.4
django-select-multiple-field==0.4.2
oauthlib==2.0.0
PyJWT==1.4.2
python-openid==2.2.5
social-auth-app-django==2.1.0
social-auth-core==1.7.0
requests==2.11.1
requests-oauthlib==0.7.0
six==1.10.0


