{% load staticfiles %}

<!DOCTYPE html>
<html>

<head>
    <title>ACE &middot; The Technical Society of Vivekananda Institute of Professional Studies</title>
    <!-- Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="ACE">

    <meta property="og:title" content="ACE &middot; The Technical Society of Vivekananda Institute of Professional Studies"/>
    <meta property="og:description" content="ACE - Association of Computer Enthusiasts is the Technical society of Vivekananda Institute of Professional Studies, Pitampura. We are a group of talented and curious technology enthusiasts who are specialised in different fields of technology, namely quizzing, programming, web development, digital imaging, and video editing."/>

    <meta property="og:image" content="http://vipsace.org/img/fg.PNG"/>
    <meta property="og:site_name" content="ACE &middot; The Technical Society of Vivekananda Institute of Professional Studies"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="http://vipsace.org/"/>


    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="ACE &middot; The Technical Society of Vivekananda Institute of Professional Studies">
    <meta name="twitter:description" content="ACE - Association of Computer Enthusiasts is the Technical society of Vivekananda Institute of Professional Studies, Pitampura. We are a group of talented and curious technology enthusiasts who are specialised in different fields of technology, namely quizzing, programming, web development, digital imaging, and video editing.">
    <meta name="twitter:image" content="http://vipsace.org/img/fg.PNG">


    <!-- Style -->
    <link rel="stylesheet" type="text/css" href="{% static 'acecss/css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'acecss/css/normalize.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'acecss/css/hover-min.css' %}">
    <link rel="shortcut icon" href="{% static 'acecss/img/favicon.png' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    
    <meta name="description" content="ACE - Association of Computer Enthusiasts is the Technical society of Vivekananda Institute of Professional Studies, Pitampura. We are a group of talented and curious technology enthusiasts who are specialised in different fields of technology, namely quizzing, programming, web development, digital imaging, and video editing.">
    <meta name="keywords" content="ACE, Association of Computer Enthusiasts,  Technical society of VIPS, ACE - The Technical society of VIPS, ACE - The Technical Society of VSIT, society, VIPS society, VSIT society, Tech, enterprenuer, bussines, UX/UI, python, php, go, Ashish, Gaurav, Srijit, Sameer, Khushi, Rohan, prateek, anukriti, Mukesh, shreyans, aditya dhawan, ACE Rocks, We love ACE,  Technical society of VSIT, Vivekananda Institute of Professional Studies, Vivekananda school of information technology, hackathon, SSC 2017, hackathon, coding, designing, events, we won, programming, VIPS programmimg, ACE69, ogz, ace vipsi, State Student Convention 2017, SSC, facebook.com/vipsace, vipsace, facebook">
    <meta name="robots" content="index,follow">
    <meta name="theme-color" content="#555">
</head>
<body>

<div class="hero_video"> 
    <video preload="true" loop="" muted="" autoplay="" data-reactid="100" ><source src="{% static 'acecss/img/main.mp4' %}" type="video/mp4" ></video>
</div>
<header>
    <img src="{% static 'acecss/img/logo.png' %}" alt="ACE Logo" width="72px">
</header>
<section id="hero">
    <main>
        <div class="cent">
            <div id="hero_elements">
                <center>
                    <div class="hero_left"><img src="{% static 'acecss/img/logo_top.png' %}" class="logo_hero" alt=""></div>
                    <div id="text">
                        <h2>HEY,<br> WE'RE ACE</h2>
                        <div class="line"></div>
                        <p>The Technical Society of Vivekananda Institute of Professional Studies</p>
			<a href="https://www.facebook.com/events/125419241484996/"><button class="portal">ACE-CSI NSC 2018</button></a>
                    </div> 
                </center>
            </div>
        </div>
    </main>
</section>

<section id="about" class="sec-white">
    <div id="wrap">
        <h1 title="About Us">About Us</h1>
        <center class="center">
            <div class="numbers">
               <span></span>
               <h2>69+</h2><br>
               <strong>Members</strong>
            </div>
           
            <div class="numbers">
               <span></span>
               <h2>30+</h2><br>
               <strong>Projects</strong>
            </div>
            <div class="numbers">
               <span></span>
               <h2>2M +</h2><br>
               <strong>Lines of Code</strong>
            </div>
            <div class="numbers">
               <span></span>
               <h2>100+</h2><br>
               <strong>Events Won</strong>
            </div>
        </center><br><br><br><br>

        <p>ACE - Association of Computer Enthusiasts is the Technical society of Vivekananda Institute of Professional Studies, Pitampura. We are a group of talented and curious technology enthusiasts who are specialised in different fields of technology, namely quizzing, programming, web development, digital imaging, and video editing.</p>

        <center><a href="#team" class="button hvr-shutter-out-vertical">MEET OUR TEAM</a></center>
    </div>
</section>

<section id="team" class="sec-white sec-grey">
    <div id="wrap">
        <h2 title="Our Team">Our Team</h2>
        
        <center>
            <div class="team">
                <div class="overlay">
                    <main>
                        <div class="cent">
                            <a href="https://www.facebook.com/ashishpahwa7" target="_blank"><i class="fa fa-facebook-square fa-2x"></i></a>
                            <a href="https://www.linkedin.com/in/ashishpahwa7/" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a>
                            <a href="https://github.com/ashishpahwa7" target="_blank"><i class="fa fa-github fa-2x"></i></a>
                        </div>
                    </main>
                </div>
                <img src="{% static 'acecss/img/2.jpg' %}"><br><br>
                <span class="name"></span>
                <h3>ashish pahwa </h3><br>
                <strong>President</strong>
            </div>

            <div class="team">
                <div class="overlay">
                    <main>
                        <div class="cent">
                            <a href="https://www.facebook.com/SrijitSMadhavan" target="_blank"><i class="fa fa-facebook-square fa-2x"></i></a>
                            <a href="https://www.linkedin.com/in/srijitsmadhavan/" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a>
                            <a href="https://github.com/srijitcoder" target="_blank"><i class="fa fa-github fa-2x"></i></a>
                        </div>
                    </main>
                </div>
                <img src="{% static 'acecss/img/1.jpg' %}"><br><br>
                <span class="name"></span>
                <h3>SRIJIT S MADHAVAN</h3><br>
                <strong>Jr. Vice President</strong>
            </div>

            <div class="team">
                <div class="overlay">
                    <main>
                        <div class="cent">
                            <a href="https://www.facebook.com/sameer.kumar018" target="_blank"><i class="fa fa-facebook-square fa-2x"></i></a>
                            <a href="https://www.linkedin.com/in/sameer-kumar18/" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a>
                            <a href="https://github.com/sameerkumar18" target="_blank"><i class="fa fa-github fa-2x"></i></a>
                        </div>
                    </main>
                </div>
                <img src="{% static 'acecss/img/4.jpg' %}"><br><br>
                <span class="name"></span>
                <h3>Sameer Kumar</h3><br>
                <strong>Secretary</strong>
            </div>

            <div class="team">
                <div class="overlay">
                    <main>
                        <div class="cent">
                            <a href="https://www.facebook.com/khushijain264" target="_blank"><i class="fa fa-facebook-square fa-2x"></i></a>
                            <a href="https://www.linkedin.com/in/khushi-jain-812b07142/" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a>
                            <a href="https://github.com/khushij" target="_blank"><i class="fa fa-github fa-2x"></i></a>
                        </div>
                    </main>
                </div>
                <img src="{% static 'acecss/img/6.jpg' %}"><br><br>
                <span class="name"></span>
                <h3>Khushi Jain</h3><br>
                <strong>Treasurer</strong>
            </div>

            <div class="team">
                <div class="overlay">
                    <main>
                        <div class="cent">
                            <a href="https://www.facebook.com/lucifer.morningstar23" target="_blank"><i class="fa fa-facebook-square fa-2x"></i></a>
                            <a href="https://www.linkedin.com/in/rohan-singh- b24b06142/" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a>
                        </div>
                    </main>
                </div>
                <img src="{% static 'acecss/img/7.jpg' %}"><br><br>
                <span class="name"></span>
                <h3>Rohan Kumar Singh</h3><br>
                <strong>Event Support Head</strong>
            </div>

            <div class="team">
                <div class="overlay">
                    <main>
                        <div class="cent">
                            <a href="https://www.facebook.com/anukriti.gupta23" target="_blank"><i class="fa fa-facebook-square fa-2x"></i></a>
                            <a href="https://github.com/anukritii" target="_blank"><i class="fa fa-github fa-2x"></i></a>
                        </div>
                    </main>
                </div>
                <img src="{% static 'acecss/img/5.jpg' %}"><br><br>
                <span class="name"></span>
                <h3>anukriti gupta </h3><br>
                <strong>Interest Group Coordinator</strong>
            </div>

            <div class="team">
                <div class="overlay">
                    <main>
                        <div class="cent">
                            <a href="https://www.facebook.com/me.AshG" target="_blank"><i class="fa fa-facebook-square fa-2x"></i></a>
                            <a href="https://www.linkedin.com/in/aayush-gupta-b89106131/" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a>
                            <a href="https://github.com/Aayush2398" target="_blank"><i class="fa fa-github fa-2x"></i></a>
                        </div>
                    </main>
                </div>
                <img src="{% static 'acecss/img/10.jpg' %}"><br><br>
                <span class="name"></span>
                <h3>aayush gupta</h3><br>
                <strong>Managing Editor</strong>
            </div>

            <div class="team">
                <div class="overlay">
                    <main>
                        <div class="cent">
                            <a href="https://www.facebook.com/shreyans.jain.777" target="_blank"><i class="fa fa-facebook-square fa-2x"></i></a>
                            <a href="https://www.linkedin.com/in/shreyans-jain- 45b54313b/" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a>
                            <a href="https://github.com/shreyansdjp" target="_blank"><i class="fa fa-github fa-2x"></i></a>
                        </div>
                    </main>
                </div>
                <img src="{% static 'acecss/img/8.jpg' %}"><br><br>
                <span class="name"></span>
                <h3>Shreyans Jain</h3><br>
                <strong>Core Member</strong>
            </div>

            <div class="team">
                <div class="overlay">
                    <main>
                        <div class="cent">
                            <a href="https://www.facebook.com/prateek.batra.14" target="_blank"><i class="fa fa-facebook-square fa-2x"></i></a>
                            <a href="https://github.com/prateek54" target="_blank"><i class="fa fa-github fa-2x"></i></a>
                        </div>
                    </main>
                </div>
                <img src="{% static 'acecss/img/9.jpg' %}"><br><br>
                <span class="name"></span>
                <h3>prateek batra  </h3><br>
                <strong>Core Member</strong>
            </div>

           

        </center>
        
        <center><a href="#about" class="button hvr-shutter-out-vertical">ABOUT US</a></center>
    </div>
</section>

<section id="blog" class="bg">
	
	
	<a target="_blank" href="http://bit.ly/VipsACE">
    
    <button class="blog hvr-shutter-out-vertical">ACE MAGAZINE 2017</button></h1>
    
    </a>
</section>



<a href="mailto:csi-sb-ace@vips.edu">
<footer class="join hvr-bounce-to-left">
    <p>Do you have what it takes?</p>
    <br>
    <h2>JOIN US</h2>
</footer>
</a>
<footer>
    <center>
        <a href="https://www.facebook.com/vipsace/" target="_blank"><i class="fa fa-facebook-square fa-2x"></i></a>
        <a href="https://www.linkedin.com/company-beta/13282617/" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a>
        <a href="https://github.com/vipsace/" target="_blank"><i class="fa fa-github fa-2x"></i></a><br><br><br>
        <img src="{% static 'acecss/img/logo.png' %}" width="69px" alt="">
        <br><br>
        <p class="copy"> &copy; 2017-18 ACE - THE TECHNICAL SOCIETY OF VIPS</p>
    </center>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://unpkg.com/scrollreveal@3.3.2/dist/scrollreveal.min.js"></script>
<script type="text/javascript">
window.sr = ScrollReveal();

sr.reveal('#text', {
    duration: 1000,
    scale: 1,
    opacity: 0,
    origin: 'bottom'
});
sr.reveal('.hero_left', {
    duration: 1000,
    delay: 500,
    scale: 1,
    opacity: 0,
    origin: 'bottom'
});
sr.reveal('.team', {
    duration: 1000,
    delay: 300,
    scale: 1,
    opacity: 0,
    origin: 'bottom'
});
sr.reveal('.bg button', {
    duration: 500,
    scale: 0.8,
    opacity: 0.5
});
sr.reveal('#about h1', {
    duration: 1000,
    scale: 1,
    opacity: 0,
    origin: 'bottom'
});
sr.reveal('#about p', {
    duration: 1000,
    scale: 1,
    opacity: 0,
    origin: 'left'
});
sr.reveal('.button', {
    duration: 500,
    scale: 0.8,
    opacity: 0.5
});

// Select all links with hashes
$('a[href*="#"]')
  // Remove links that don't actually link to anything
  .not('[href="#"]')
  .not('[href="#0"]')
  .click(function(event) {
    // On-page links
    if (
      location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') 
      && 
      location.hostname == this.hostname
    ) {
      // Figure out element to scroll to
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
      // Does a scroll target exist?
      if (target.length) {
        // Only prevent default if animation is actually gonna happen
        event.preventDefault();
        $('html, body').animate({
          scrollTop: target.offset().top
        }, 1000, function() {
          // Callback after animation
          // Must change focus!
          var $target = $(target);
          $target.focus();
          if ($target.is(":focus")) { // Checking if the target was focused
            return false;
          } else {
            $target.attr('tabindex','-1'); // Adding tabindex for elements not focusable
            $target.focus(); // Set focus again
          };
        });
      }
    }
  });
</script>UA-99222640-1
</body>
</html>
