{% load staticfiles %}
<!doctype html>
<html lang="en">
<head>
    <meta charset=UTF-8>
    <meta name=viewport content="width=device-width, initial-scale=1.0">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#ee3158"/>
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#ee3158"/>
    <meta name=msapplication-TileColor content=#FFFFFF>
    <meta name=msapplication-TileImage content=favicon.ico>
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black-transcluent"/>
    <title>ACE Code of Conduct</title>
    <!-- IE-Support -->
    <script src="{% static 'website/js/ie-support.js'%}" defer></script>
    <!-- css-files -->
    <link rel="stylesheet" href="{% static 'website/css/font-awesome.min.css'%}">
    <link rel="stylesheet" href="{% static 'website/css/swiper.min.css'%}">
    <link rel="stylesheet" href="{% static 'website/css/magnific-popup.css'%}">
    <link rel="stylesheet" href="{% static 'website/css/aos.css'%}">
    <link rel="stylesheet" href="{% static 'website/css/main.css'%}">
</head>
<body>
<div class="loader">
    <div class="loading-center">
        <div class="loading-center-absolute">
            <div class="object object_one"></div>
            <div class="object object_two"></div>
            <div class="object object_three"></div>
            <div class="object object_four"></div>
            <div class="object object_five"></div>
            <div class="object object_six"></div>
            <div class="object object_seven"></div>
            <div class="object object_eight"></div>
            <div class="object object_nine"></div>
        </div>
    </div>
</div>
<div id="main-wrapper" class="wrapper-hidden z-index-100">

    <!-- header here -->

    
    
    <section class="white-section blog-section single-post-section">
        <div class="container">
            <div class="row">
                <div class="col d-flex justify-content-center">
                    <h2 class="section-title text-center title-divider"
                        data-bigletter="O" data-aos="fade-up"
                        data-aos-delay="100"
                        data-aos-anchor-placement="top-bottom"
                        data-aos-easing="ease-in-out"
                        data-aos-duration="700">Code of Conduct</h2>
                </div>
            </div>
        </div>
        <div class="container"
             data-aos="fade"
             data-aos-anchor-placement="top-bottom"
             data-aos-easing="ease-in-out"
             data-aos-duration="800">
            <div class="row">
                <div class="col single-post-wrapper">
                    <div class="post-content">
                        <h4 class="post-title">OVERVIEW</h4>
                        <p class="text-part">In order to keep the society running at optimal performance, several factors were taken into consideration. We realized that a standard code of conduct must be put into practice so that everyone can have a clear idea about the society. </p>
                        <h4 class="post-title">INTERNAL STRUCTURE</h4>
                        <p class="text-part">ACE comprises of Core, Non-Core and Council members, all memebers are essential for the survival and development of organization as a whole. </p>
                        <br>
                        <ol class="post-title" >
                            <li class="text-part"> Council
                            <p > The Council is a nexus of individuals essenstial for managing operations,developing policies, managing events and taking care of all formalities. Their job is to maintain meaningful existence of society and make ACE excel with its plans, projects, workshops, seminars and other memorable events.
                             </p>
                            </li>
                             <li class="text-part"> Core
                            <p > Core members are close to ACE, they have either one or all of the attributes.The following represent their traits and have little to do with their actual duties :<br>
                                  1. Deep interest in ACE’s internal activities, not limited to just managementof events.<br>
                                  2. Active participation in ACE’s external activities. (Eg: Offline / Online events/ competitions by educational institutions, companies etc..)<br>
                                  3. Specialized skill in a certain field. (Ex: App Development, Video Editing,Web Designing etc.)</p>
                            </li>
                             <li class="text-part"> Non-Core
                            <p > A non core member should be enthusiastic about learning new skills, keen to work with fellow core members and develop their own projects.
                            </p>
                            </li>

                        </ol>

                        <h4 class="post-title">ACE OPERATIONS</h4>
                        <p class="text-part"></p>
                        <ol class="post-title" >
                            <li class="text-part"> Open Source Projects
                            <p > ACE is constantly involved in multiple projects running in parallel, members can get involved / join in those projects on GitHub and improve them.</p>
                            </li>
                             <li class="text-part"> Strategic Stress Management Exercises (SSME)
                            <p > Psychological and Physical stress is inevitable, ACE tries to combat this by introducing a number of creative, fun yet educational exercises. One of the most popular exercise is a motion sensor based game called Just Dance Now(JDN)
                            </p>
                            </li>
                            <li class="text-part"> Workshops
                            <p> In order to develop skills, we alternatively conducts proper training by experienced trainers from the industry.
                            </p>
                            </li>
                            <li class="text-part"> ACE Hours
                            <p> In order to keep everyone at their level best and entertained, we at ACE decided to have regular sessions every week. These are crucial for development of projects and members as well.
                            </p>
                            </li>
                        </ol>
                           <h4 class="post-title">RULES and REGULATIONS</h4>
                           <p class="text-part" ></p>
                           <ol>
                            <p class="text-part" > 1. Mutual respect for each and every member.<br>
                            2. Exploitation of ACE’s resources may lead to unfortunate consequences.<br>
                            3. Lack of general interest and passive attitude for prolonged period may lead to removal from the society.<br>
                            4. Each and everyone here is a valued member, undermining or harassing a fellow member in any way may lead to suspension followed by removal.<br>
                            5. NDA: During certain occasions, ACE might go through some phases where data / information security becomes a crucial part like individually developed API, design ideas, thesis etc. ACE expects every member to respect that.<br>
                            6. Any content that violates ESRB 12 rating shall be considered obscene.<br>
                            </p><br>
                           </ol>
                            <h4 class="post-title">DEPARTMENTS</h4>
                        <p class="text-part"></p>
                        <ol class="post-title" >
                            <li class="text-part"> Legal
                            <p > Advising on legal matters related to apps, websites and other services by ACE including but not limited to internal structure.</p>
                            </li>
                             <li class="text-part"> Media and Presentation
                            <p > A dedicated group of public-speakers and creative writers, helping ACE in presentation of different topics, webinars, seminars, workshops etc.
                            </p>
                            </li>
                            <li class="text-part"> Information Technology
                            <p> 1. Data Science<br>
                                2. Front-end development: both app and website.<br>
                                3. Back-end Development: Services, API’s etc.<br>
                                4. Security: Audits, Secure Development, Pen-testing, Forensics etc<br>
                                5. Automation and Testing<br>
                                6. Graphics Designing<br>
                                7. A/V Editing<br>
                                8. Digital Marketting<br>
                                9. App Development<br>
                                10.Game Development<br>
                            </p>
                            </li>
                            <li class="text-part"> Intellectual Property rules:
                            <p> 1. Any and all material out of ACE should remain within ACE unless made open source by the content creator.<br>
                            2. ACE reserves rights for questioning, interviewing and reading any material produced or claimed to be produced by any member of ACE at any given point. “Talk is cheap, show us the code”<br>
                            3. Evidence of contribution is a must and can be asked at any point of time during member’s stay in the society.<br>
                            </p>
                            </li>
                        </ol>
                        <p class="text-part">All the members, including the council have to abide by the rules and regulations.
                         </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- footer here -->

</div>


<!-- js-files -->
<!-- JQuery -->
<script src="{% static 'website/js/jquery-3.3.1.min.js'%}"></script>
<!-- AOS -->
<script src="{% static 'website/js/aos.js'%}"></script>
<!-- Parallax -->
<script src="{% static 'website/js/parallax.js'%}"></script>
<!-- Progress Bars -->
<script src="{% static 'website/js/progressbar.min.js'%}"></script>
<!-- Magnific -->
<script src="{% static 'website/js/jquery.magnific-popup.min.js'%}"></script>
<!-- Three -->
<script src="{% static 'website/js/three.min.js'%}"></script>
<!-- Projector -->
<script src="{% static 'website/js/projector.js'%}"></script>
<!-- Renderer -->
<script src="{% static 'website/js/canvas-renderer.js'%}"></script>
<!-- ImageLoaded -->
<script src="{% static 'website/js/imagesloaded.pkgd.min.js'%}"></script>
<!-- Anime -->
<script src="{% static 'website/js/anime.min.js'%}"></script>
<!-- Isotope -->
<script src="{% static 'website/js/isotope.pkgd.min.js'%}"></script>
<!-- TweenLite -->
<script src="{% static 'website/js/TweenLite.min.js'%}"></script>
<!-- Hover3D -->
<script src="{% static 'website/js/jquery.hover3d.min.js'%}"></script>
<!-- EasePack -->
<script src="{% static 'website/js/EasePack.min.js'%}"></script>
<!-- Particles -->
<script src="{% static 'website/js/particles.min.js'%}"></script>
<!-- YoutubeBackground -->
<script src="{% static 'website/js/jquery.youtubebackground.js'%}"></script>
<!-- Waypoints -->
<script src="{% static 'website/js/jquery.waypoints.min.js'%}"></script>
<!-- Swiper -->
<script src="{% static 'website/js/swiper.min.js'%}"></script>
<!-- Main JS-file -->
<script src="{% static 'website/js/main.js'%}"></script>
</body>
</html>