{% load staticfiles %}
    <footer>
        <div class="container-fluid footer-inner d-flex align-items-center">
            <div class="footer-social d-flex">
                <div class="social-box">
                    <a href="https://www.facebook.com/vipsace">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                </div>
                <div class="social-box">
                    <a href="https://twitter.com/VIPS_ACE">
                        <i class="fab fa-twitter"></i>
                    </a>
                </div>
                <div class="social-box">
                    <a href="https://github.com/ace-vsit">
                        <i class="fab fa-github"></i>
                    </a>
                </div>
                <div class="social-box">
                    <a href="https://www.instagram.com/acevips/">
                        <i class="fab fa-instagram"></i>
                    </a>
                </div>
            </div>
            <div class="footer-copyright">
                <p>© 2018 VIPSACE. Made with ❤️ by ACE.</p>
            </div>
        </div>
    </footer>
