{% load staticfiles %}
<!doctype html>
<html lang="en">
<head>
    <meta charset=UTF-8>
    <meta name=viewport content="width=device-width, initial-scale=1.0">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#ee3158"/>
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#ee3158"/>
    <meta name=msapplication-TileColor content=#FFFFFF>
    <meta name=msapplication-TileImage content=favicon.ico>
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black-transcluent"/>
    <title>ACE Members</title>
    <!-- IE-Support -->
    <script src="{% static 'website/js/ie-support.js'%}" defer></script>
    <!-- css-files -->
    <link rel="stylesheet" href="{% static 'website/css/font-awesome.min.css'%}">
    <link rel="stylesheet" href="{% static 'website/css/swiper.min.css'%}">
    <link rel="stylesheet" href="{% static 'website/css/magnific-popup.css'%}">
    <link rel="stylesheet" href="{% static 'website/css/aos.css'%}">
    <link rel="stylesheet" href="{% static 'website/css/main.css'%}">
</head>
<body>
<div class="loader">
    <div class="loading-center">
        <div class="loading-center-absolute">
            <div class="object object_one"></div>
            <div class="object object_two"></div>
            <div class="object object_three"></div>
            <div class="object object_four"></div>
            <div class="object object_five"></div>
            <div class="object object_six"></div>
            <div class="object object_seven"></div>
            <div class="object object_eight"></div>
            <div class="object object_nine"></div>
        </div>
    </div>
</div>
<div id="main-wrapper" class="wrapper-hidden z-index-100">

    <!-- header here -->

    <nav class="navbar navbar-default desktop-menu logo-left">
        <div class="container-fluid navbar-inner">
            <div class="navbar-logo">
                <a href="index.html" class="logo-link d-flex align-items-center" data-aos="zoom-in"
                   data-aos-delay="1000" data-aos-easing="ease-in-out" data-aos-duration="700">
                    <img src="{% static 'website/img/logo/logo-light.png'%}" alt="" class="logo-img logo-light">
                    <img src="{% static 'website/img/logo/logo-dark.png'%}" alt="" class="logo-img logo-dark" style="filter: brightness(0);">
                </a>
            </div>
            <div class="navbar-menu">
                <ul class="navbar-menu-list">
                    <li class="menu-primary-item menu-item-has-children">
                        <a class="mobile-menu-toggle" href="#">Home</a>
                    </li>
                    <li class="menu-primary-item menu-item-has-children">
                        <a class="mobile-menu-toggle" href="{% url 'members' %}">Members</a>
                    </li>
                    <li class="menu-primary-item menu-item-has-children">
                        <a class="mobile-menu-toggle" href="{% url 'projects' %}">Projects</a>
                    </li>
                    <li class="menu-primary-item menu-item-has-children">
                        <a class="mobile-menu-toggle" href="{% url 'calendar' %}">Calendar</a>
                    </li>
                    <li class="menu-primary-item menu-item-has-children">
                        <a class="mobile-menu-toggle" href="{% url 'achievements' %}">Achievements</a>
                    </li>
                </ul>
                <div class="navbar-additional align-items-center">
                    <div class="social-box">
                        <a href="https://www.facebook.com/vipsace">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </div>
                    <div class="social-box">                        
                        <a href="https://twitter.com/VIPS_ACE">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </div>
                    <div class="social-box">
                        <a href="https://www.instagram.com/acevips/">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </div>
                </div>
            </div>
            <button class="hamburger justify-content-center align-items-center hamburger--spin" type="button">
                <span class="hamburger-box">
                  <span class="hamburger-inner"></span>
                </span>
            </button>
        </div>
    </nav>
    
    
    <header class="page-header parallax-window bg_img default_overlay"
            data-src="{% static 'website/img/assets/bg.jpg' %}">
        <div class="container breadcrumbs-wrapper">
            <div class="breadcrumbs d-flex flex-column justsify-content-center">
                <h3>ACE Members</h3>
            </div>
        </div>
    </header>



    <section class="element-section white-section">

        <div class="container">
            <h6 class="black-element-title element-title">Member List for year 2018-19</h6>
            <table class="table-type-1 table-element">
                <tr>
                    <td>#</td>
                    <td>Member Name</td>
                    <td>Course</td>
                </tr>
                {% for member in members%}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ member.name.first_name}} {{ member.name.last_name}}</td>
                    <td>{{ member.course }}</td>
                </tr>
                {% endfor %}

            </table>
        </div>
    </section>


    <!-- footer here -->

</div>


<!-- js-files -->
<!-- JQuery -->
<script src="{% static 'website/js/jquery-3.3.1.min.js'%}"></script>
<!-- AOS -->
<script src="{% static 'website/js/aos.js'%}"></script>
<!-- Parallax -->
<script src="{% static 'website/js/parallax.js'%}"></script>
<!-- Progress Bars -->
<script src="{% static 'website/js/progressbar.min.js'%}"></script>
<!-- Magnific -->
<script src="{% static 'website/js/jquery.magnific-popup.min.js'%}"></script>
<!-- Three -->
<script src="{% static 'website/js/three.min.js'%}"></script>
<!-- Projector -->
<script src="{% static 'website/js/projector.js'%}"></script>
<!-- Renderer -->
<script src="{% static 'website/js/canvas-renderer.js'%}"></script>
<!-- ImageLoaded -->
<script src="{% static 'website/js/imagesloaded.pkgd.min.js'%}"></script>
<!-- Anime -->
<script src="{% static 'website/js/anime.min.js'%}"></script>
<!-- Isotope -->
<script src="{% static 'website/js/isotope.pkgd.min.js'%}"></script>
<!-- TweenLite -->
<script src="{% static 'website/js/TweenLite.min.js'%}"></script>
<!-- Hover3D -->
<script src="{% static 'website/js/jquery.hover3d.min.js'%}"></script>
<!-- EasePack -->
<script src="{% static 'website/js/EasePack.min.js'%}"></script>
<!-- Particles -->
<script src="{% static 'website/js/particles.min.js'%}"></script>
<!-- YoutubeBackground -->
<script src="{% static 'website/js/jquery.youtubebackground.js'%}"></script>
<!-- Waypoints -->
<script src="{% static 'website/js/jquery.waypoints.min.js'%}"></script>
<!-- Swiper -->
<script src="{% static 'website/js/swiper.min.js'%}"></script>
<!-- Main JS-file -->
<script src="{% static 'website/js/main.js'%}"></script>

<script type="text/javascript">
    $(document).ready(function(){
        $('nav').addClass("navbar-fill");
    });
</script>
</body>
</html>