<!doctype html>
<html lang="en">
<head>
    <meta charset=UTF-8>
    <meta name=viewport content="width=device-width, initial-scale=1.0">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#ee3158"/>
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#ee3158"/>
    <meta name=msapplication-TileColor content=#FFFFFF>
    <meta name=msapplication-TileImage content=favicon.ico>
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black-transcluent"/>
    <title>ACE Projects</title>
    <!-- IE-Support -->
    <script src="{% static 'website/js/ie-support.js'%}" defer></script>
    <!-- css-files -->
    <link rel="stylesheet" href="{% static 'website/css/font-awesome.min.css'%}">
    <link rel="stylesheet" href="{% static 'website/css/swiper.min.css'%}">
    <link rel="stylesheet" href="{% static 'website/css/magnific-popup.css'%}">
    <link rel="stylesheet" href="{% static 'website/css/aos.css'%}">
    <link rel="stylesheet" href="{% static 'website/css/main.css'%}">
</head>
<body>
<div class="loader">
    <div class="loading-center">
        <div class="loading-center-absolute">
            <div class="object object_one"></div>
            <div class="object object_two"></div>
            <div class="object object_three"></div>
            <div class="object object_four"></div>
            <div class="object object_five"></div>
            <div class="object object_six"></div>
            <div class="object object_seven"></div>
            <div class="object object_eight"></div>
            <div class="object object_nine"></div>
        </div>
    </div>
</div>
<div id="main-wrapper" class="wrapper-hidden z-index-100">

    <!-- header here -->

    <section class="blog-section large-section gray-section">

        <div class="container">
            <div class="row">
                <div class="col d-flex justify-content-center">
                    <h2 class="section-title text-center title-divider" data-bigletter="R" data-aos="fade-up"
                        data-aos-delay="100" data-aos-anchor-placement="top-bottom"
                        data-aos-easing="ease-in-out" data-aos-duration="700">Our Projects</h2>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row blog-grid-row">
                <div class="col-lg-6">
                    <article class="post-grid white-section"
                             data-aos="fade-up"
                             data-aos-delay="100"
                             data-aos-anchor-placement="top-bottom"
                             data-aos-easing="ease-in-out"
                             data-aos-duration="800">
                        <div class="post-image-side">
                            <a href="#" class="img-wrapper">
                                <img src="img/blog/blog-img-1.jpg" alt="" class="img-fluid">
                            </a>
                            <a href="#" class="tag bg-color-purple">
                                Design
                            </a>
                        </div>
                        <div class="post-content-side right-side">
                            <a class="post-title" href="#">Good design is obvious</a>
                            <p class="post-content">Nulla metus metus, ullamcorper vel, tincidunt sed, euismod in, nibh.
                                Quisque volutpat condimentum velit. Class aptent taciti metus sociosqu ad litora
                                torquent...</p>
                            <div class="description-box d-flex align-items-center right-side">
                                <i class="far fa-clock"></i>
                                <p>Posted on April 25, 2018 by <a href="#">Jonathan Doe</a></p>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-lg-6">
                    <article class="post-grid white-section"
                             data-aos="fade-up"
                             data-aos-delay="100"
                             data-aos-anchor-placement="top-bottom"
                             data-aos-easing="ease-in-out"
                             data-aos-duration="800">
                        <div class="post-image-side">
                            <div class="swiper-container swiper-post">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <img src="img/assets/img-blog-2.jpg" alt="" class="img-fluid">
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="img/about/about-card-2.jpg" alt="" class="img-fluid">
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="img/about/about-card-1.jpg" alt="" class="img-fluid">
                                    </div>
                                </div>
                                <div class="swiper-pagination-bullets-default"></div>
                            </div>
                            <a href="#" class="tag bg-color-pink">
                                Modern
                            </a>
                        </div>
                        <div class="post-content-side right-side">
                            <a class="post-title" href="#">Guide to UX prototyping</a>
                            <p class="post-content">Nulla metus metus, ullamcorper vel, tincidunt sed, euismod in, nibh.
                                Quisque volutpat condimentum velit. Class aptent taciti metus sociosqu ad litora
                                torquent...</p>
                            <div class="description-box d-flex align-items-center right-side">
                                <i class="far fa-clock"></i>
                                <p>Posted on April 24, 2018 by <a href="#">Frank Horrigan</a></p>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-lg-6">
                    <article class="post-grid white-section"
                             data-aos="fade-up"
                             data-aos-delay="100"
                             data-aos-anchor-placement="top-bottom"
                             data-aos-easing="ease-in-out"
                             data-aos-duration="800">
                        <div class="post-image-side">
                            <a class="popup-modal video-popup d-flex align-items-center justify-content-center"
                               href="#video-post-1">
                                <img src="img/blog/blog-img-3.jpg" alt="" class="img-fluid">
                                <div class="play-btn-scale">
                                    <i class="fa fa-play"></i>
                                </div>
                            </a>
                            <div id="video-post-1" class="white-popup-block mfp-hide mfp-fade">
                                <div class="modal-video-box">
                                    <iframe src="https://www.youtube.com/embed/KyKgBzFypzc"
                                            allowfullscreen></iframe>
                                    <button title="Close (Esc)" type="button" class="mfp-close">×</button>
                                </div>
                            </div>
                            <a href="#" class="tag bg-color-red">
                                Smart
                            </a>
                        </div>
                        <div class="post-content-side right-side">
                            <a class="post-title" href="#">Visual hierarchy in web design</a>
                            <p class="post-content">Nulla metus metus, ullamcorper vel, tincidunt sed, euismod in, nibh.
                                Quisque volutpat condimentum velit. Class aptent taciti metus sociosqu ad litora
                                torquent...</p>
                            <div class="description-box d-flex align-items-center right-side">
                                <i class="far fa-clock"></i>
                                <p>Posted on April 24, 2018 by <a href="#">Jonathan Doe</a></p>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-lg-6">
                    <article class="post-grid white-section"
                             data-aos="fade-up"
                             data-aos-delay="100"
                             data-aos-anchor-placement="top-bottom"
                             data-aos-easing="ease-in-out"
                             data-aos-duration="800">
                        <div class="post-image-side">
                            <a href="#" class="img-wrapper">
                                <img src="img/blog/blog-img-4.jpg" alt="" class="img-fluid">
                            </a>
                            <a href="#" class="tag bg-color-blue">
                                Development
                            </a>
                        </div>
                        <div class="post-content-side right-side">
                            <a class="post-title" href="#">Social Media Today</a>
                            <p class="post-content">Nulla metus metus, ullamcorper vel, tincidunt sed, euismod in, nibh.
                                Quisque volutpat condimentum velit. Class aptent taciti metus sociosqu ad litora
                                torquent...</p>
                            <div class="description-box d-flex align-items-center right-side">
                                <i class="far fa-clock"></i>
                                <p>Posted on April 24, 2018 by <a href="#">Alex Gray</a></p>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-lg-6">
                    <article class="post-grid white-section"
                             data-aos="fade-up"
                             data-aos-delay="100"
                             data-aos-anchor-placement="top-bottom"
                             data-aos-easing="ease-in-out"
                             data-aos-duration="800">
                        <div class="post-image-side">
                            <a href="#" class="img-wrapper">
                                <img src="img/blog/blog-img-5.jpg" alt="" class="img-fluid">
                            </a>
                            <a href="#" class="tag bg-color-green">
                                Code
                            </a>
                        </div>
                        <div class="post-content-side right-side">
                            <a class="post-title" href="#">How to learn Angular</a>
                            <p class="post-content">Nulla metus metus, ullamcorper vel, tincidunt sed, euismod in, nibh.
                                Quisque volutpat condimentum velit. Class aptent taciti metus sociosqu ad litora
                                torquent...</p>
                            <div class="description-box d-flex align-items-center right-side">
                                <i class="far fa-clock"></i>
                                <p>Posted on April 24, 2018 by <a href="#">Richard Miller</a></p>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-lg-6">
                    <article class="post-grid white-section"
                             data-aos="fade-up"
                             data-aos-delay="100"
                             data-aos-anchor-placement="top-bottom"
                             data-aos-easing="ease-in-out"
                             data-aos-duration="800">
                        <div class="post-image-side">
                            <a href="#" class="img-wrapper">
                                <img src="img/blog/blog-img-6.jpg" alt="" class="img-fluid">
                            </a>
                            <a href="#" class="tag bg-color-yellow">
                                Lifestyle
                            </a>
                        </div>
                        <div class="post-content-side right-side">
                            <a class="post-title" href="#">This is the secret of success</a>
                            <p class="post-content">Nulla metus metus, ullamcorper vel, tincidunt sed, euismod in, nibh.
                                Quisque volutpat condimentum velit. Class aptent taciti metus sociosqu ad litora
                                torquent...</p>
                            <div class="description-box d-flex align-items-center right-side">
                                <i class="far fa-clock"></i>
                                <p>Posted on April 24, 2018 by <a href="#">David Spencer</a></p>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
            <div class="d-flex justify-content-center"
                 data-aos="fade-up"
                 data-aos-delay="100"
                 data-aos-anchor-placement="top-bottom"
                 data-aos-easing="ease-in-out"
                 data-aos-duration="800">
                <div class="blog-nav d-flex">
                    <div class="active">
                        1
                    </div>
                    <div>
                        2
                    </div>
                    <div>
                        3
                    </div>
                    <div>
                        <i class="fa fa-angle-right"></i>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- footer here -->

</div>


<!-- js-files -->
<!-- JQuery -->
<script src="{% static 'website/js/jquery-3.3.1.min.js'%}"></script>
<!-- AOS -->
<script src="{% static 'website/js/aos.js'%}"></script>
<!-- Parallax -->
<script src="{% static 'website/js/parallax.js'%}"></script>
<!-- Progress Bars -->
<script src="{% static 'website/js/progressbar.min.js'%}"></script>
<!-- Magnific -->
<script src="{% static 'website/js/jquery.magnific-popup.min.js'%}"></script>
<!-- Three -->
<script src="{% static 'website/js/three.min.js'%}"></script>
<!-- Projector -->
<script src="{% static 'website/js/projector.js'%}"></script>
<!-- Renderer -->
<script src="{% static 'website/js/canvas-renderer.js'%}"></script>
<!-- ImageLoaded -->
<script src="{% static 'website/js/imagesloaded.pkgd.min.js'%}"></script>
<!-- Anime -->
<script src="{% static 'website/js/anime.min.js'%}"></script>
<!-- Isotope -->
<script src="{% static 'website/js/isotope.pkgd.min.js'%}"></script>
<!-- TweenLite -->
<script src="{% static 'website/js/TweenLite.min.js'%}"></script>
<!-- Hover3D -->
<script src="{% static 'website/js/jquery.hover3d.min.js'%}"></script>
<!-- EasePack -->
<script src="{% static 'website/js/EasePack.min.js'%}"></script>
<!-- Particles -->
<script src="{% static 'website/js/particles.min.js'%}"></script>
<!-- YoutubeBackground -->
<script src="{% static 'website/js/jquery.youtubebackground.js'%}"></script>
<!-- Waypoints -->
<script src="{% static 'website/js/jquery.waypoints.min.js'%}"></script>
<!-- Swiper -->
<script src="{% static 'website/js/swiper.min.js'%}"></script>
<!-- Main JS-file -->
<script src="{% static 'website/js/main.js'%}"></script>
</body>
</html>