{% load staticfiles %}
<!doctype html>
<html lang="en">
<head>
    <meta charset=UTF-8>
    <meta name=viewport content="width=device-width, initial-scale=1.0">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#ee3158"/>
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#ee3158"/>
    <meta name=msapplication-TileColor content=#FFFFFF>
    <meta name=msapplication-TileImage content=favicon.ico>
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black-transcluent"/>
    <title>ACE Selection Process</title>
    <!-- IE-Support -->
    <script src="{% static 'website/js/ie-support.js'%}" defer></script>
    <!-- css-files -->
    <link rel="stylesheet" href="{% static 'website/css/font-awesome.min.css'%}">
    <link rel="stylesheet" href="{% static 'website/css/swiper.min.css'%}">
    <link rel="stylesheet" href="{% static 'website/css/magnific-popup.css'%}">
    <link rel="stylesheet" href="{% static 'website/css/aos.css'%}">
    <link rel="stylesheet" href="{% static 'website/css/main.css'%}">
</head>
<body>
<div class="loader">
    <div class="loading-center">
        <div class="loading-center-absolute">
            <div class="object object_one"></div>
            <div class="object object_two"></div>
            <div class="object object_three"></div>
            <div class="object object_four"></div>
            <div class="object object_five"></div>
            <div class="object object_six"></div>
            <div class="object object_seven"></div>
            <div class="object object_eight"></div>
            <div class="object object_nine"></div>
        </div>
    </div>
</div>
<div id="main-wrapper" class="wrapper-hidden z-index-100">

    <!-- header here -->

    
    
    <section class="white-section blog-section single-post-section">
        <div class="container">
            <div class="row">
                <div class="col d-flex justify-content-center">
                    <h2 class="section-title text-center title-divider"
                        data-bigletter="O" data-aos="fade-up"
                        data-aos-delay="100"
                        data-aos-anchor-placement="top-bottom"
                        data-aos-easing="ease-in-out"
                        data-aos-duration="700">Selection Process</h2>
                </div>
            </div>
        </div>
        <div class="container"
             data-aos="fade"
             data-aos-anchor-placement="top-bottom"
             data-aos-easing="ease-in-out"
             data-aos-duration="800">
            <div class="row">
                <div class="col single-post-wrapper">
                    <div class="post-content">
                        <p class="text-part">We at ACE invest a lot of time in the selection process. We have carefully designed the process so that majority of student community can benefit from it.We hope you have gone through administrative structure in the Code of Conduct section on page 3, If not we request you to kindly read that page before proceeding ahead in this section to get clarity of the matter. We promise to give our best while fitting you in the right place. We are proud of our team and we try our best to preserve our culture.Here is what you need to know before you apply for selection process. </p>
                        <h4 class="post-title">For First Year Students ( BCA ) </h4>
                        <p class="text-part">We totally understand that you might lack experience, neither we expect you to be “pro” at what you do, it is the beginning of your journey.Don’t get discouraged by any means, we all started at some point.If you are good at something don’t be over excited by it, give your best and show us that you are eager to learn more. </p>
                        <h4 class="post-title">ELIGIBILITY CRITERIA</h4>
                        <p class="text-part"> </p>
                        <ol class="post-title" >
                            <li class="text-part"> Core Members
                            <p > 
                                <ol>
                                    <li>First Year Students (BCA)
                                        <p>
                                            1. You should be very familiar with basic concepts of whatever field you are interested in.<br>
                                            2. We do not expect you to have any formal course/diploma in that field.<br>
                                            3. You should have passion for new technologies and willingness to learn new things.
                                        </p>
                                    </li>
                                      <li>First Year Students (MCA)
                                        <p>
                                           1. A good grasp on core subjects/areas in the field you are interested in.<br>
                                           2. Project work or research paper(s) may be taken into account.<br>
                                           3. Prior industry experience/internship(s) will be a plus point.<br>
                                           4. You should have passion for new technologies and willingness to learn new things.
                                        </p>
                                    </li>
                                     <li>Second and Thirs Year Students (BCA-MCA)
                                        <p>
                                           1. A good grasp on core subjects/areas in the field you are interested in.<br> 
                                           2. Basic concept of programming should be clear.<br>
                                           3. Projects/internship(s) may be taken into account

                                        </p>
                                    </li>
                                </ol>

                            </p>
                            </li>
                             <li class="text-part"> Non-Core Member
                            <p > 
                                <ul>
                                    <li>All Year Students (BCA-MCA)
                                        <p>
                                            <ol>
                                                <li>1.Passion for technology</li>
                                                <li>2.Willingness to learn and explore new things</li>
                                                <li>3.Willingness to learn and explore new things</li>
                                            </ol>
                                        

                                           
                                    </li>
                            
                                </ul>
                                    
                            </li>
                             <li class="text-part"> Council Member
                            <p > There are NO direct interview(s) for selection in council. It is formed by the fusion of students from both core and non core teams so that decisions we make benefits the entire society and student community not just affects small section of students
                                <ul>
                                    <li> Eligibility</li>
                                    <p>
                                        <ol>
                                        <li>1.Shows interest in activities of society</li>
                                        <li>2.Take active part in discussions and meetings</li>
                                        <li>3.Well aware about our teams and culture</li>
                                        <li>4.Speaks for the general interest of all the members.</li>
                                        <li>5.Willingness to learn new things. </li>
                                    </ol>
                                    </p>
                                    
                                </ul>
                            </p>
                            </li>

                        </ol>

                        <br>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- footer here -->

</div>


<!-- js-files -->
<!-- JQuery -->
<script src="{% static 'website/js/jquery-3.3.1.min.js'%}"></script>
<!-- AOS -->
<script src="{% static 'website/js/aos.js'%}"></script>
<!-- Parallax -->
<script src="{% static 'website/js/parallax.js'%}"></script>
<!-- Progress Bars -->
<script src="{% static 'website/js/progressbar.min.js'%}"></script>
<!-- Magnific -->
<script src="{% static 'website/js/jquery.magnific-popup.min.js'%}"></script>
<!-- Three -->
<script src="{% static 'website/js/three.min.js'%}"></script>
<!-- Projector -->
<script src="{% static 'website/js/projector.js'%}"></script>
<!-- Renderer -->
<script src="{% static 'website/js/canvas-renderer.js'%}"></script>
<!-- ImageLoaded -->
<script src="{% static 'website/js/imagesloaded.pkgd.min.js'%}"></script>
<!-- Anime -->
<script src="{% static 'website/js/anime.min.js'%}"></script>
<!-- Isotope -->
<script src="{% static 'website/js/isotope.pkgd.min.js'%}"></script>
<!-- TweenLite -->
<script src="{% static 'website/js/TweenLite.min.js'%}"></script>
<!-- Hover3D -->
<script src="{% static 'website/js/jquery.hover3d.min.js'%}"></script>
<!-- EasePack -->
<script src="{% static 'website/js/EasePack.min.js'%}"></script>
<!-- Particles -->
<script src="{% static 'website/js/particles.min.js'%}"></script>
<!-- YoutubeBackground -->
<script src="{% static 'website/js/jquery.youtubebackground.js'%}"></script>
<!-- Waypoints -->
<script src="{% static 'website/js/jquery.waypoints.min.js'%}"></script>
<!-- Swiper -->
<script src="{% static 'website/js/swiper.min.js'%}"></script>
<!-- Main JS-file -->
<script src="{% static 'website/js/main.js'%}"></script>
</body>
</html>